REPAI_PUBLIC_BASE_URL=https://YOUR_PUBLIC_HTTPS_DOMAIN
REPAI_TEAMS_BOT_ID=YOUR_MICROSOFT_APP_ID
REPAI_TEAMS_BOT_PASSWORD=YOUR_BOT_CLIENT_SECRET_VALUE
REPAI_TENANT_ID=YOUR_TENANT_ID
REPAI_DEMO_MEETING_URL=YOUR_TEAMS_MEETING_URL
REPAI_FOUNDRY_ENDPOINT=YOUR_FOUNDRY_ENDPOINT
REPAI_FOUNDRY_API_KEY=YOUR_FOUNDRY_API_KEY
REPAI_FOUNDRY_DEPLOYMENT=gpt-4o
REPAI_FOUNDRY_API_VERSION=2024-10-21
REPAI_SPEECH_KEY=YOUR_AZURE_SPEECH_KEY
REPAI_SPEECH_REGION=YOUR_AZURE_SPEECH_REGION
REPAI_CALL_SERVER_PORT=3978
